[submodule "Class-Survey-Backend"]
	path = Class-Survey-Backend
	url = C:\\Users\\Marowalker\\Desktop\\Class-survey-backend
[submodule "Class-Survey-Frontend"]
	path = Class-Survey-Frontend
	url = C:\\Users\\Marowalker\\UET-Class-Survey-Frontend
