.left {
    width: 30%;
}

.lmenu {
    background-image: url("./Background.png");
}

ul > li.items {
    list-style: none;
    width: 100px;
    height: 212px;
    text-align: center;
    color: white;
    margin-left: 25%;
}

.clear {
    clear: both;
}
